<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.security.SecurityMapper">
    <resultMap id="userRole" type="com.example.demo.security.UserInfo">
        <id property="id" column="uid" ></id>
        <result property="username" column="username"></result>
        <result property="password" column="password" ></result>
        <collection property="roles" ofType="com.example.demo.security.Role">
            <id property="id" column="rid"></id>
            <result property="name" column="name"></result>
            <result property="namezh" column="namezh"></result>
        </collection>
    </resultMap>
    <select id="selectUserInfoRoleByUsername" resultMap="userRole">
        SELECT
            ui.username, ui.password,
            ur.uid, ur.rid,
            r.name, r.namezh
        FROM
            user_info ui
        LEFT JOIN user_role ur ON ui.id = ur.uid
        LEFT JOIN role r on r.id = ur.rid
        WHERE
            username = #{username}
    </select>
</mapper>